<h1>オールスター</h1>

<!--問題表示するところ-->
<%= @question_content %><br>

<!--回答を入力するところ-->

<%= form_tag ({:action =>"request"}) do %>
  <% (1..4).each do |i| %>
    <%= render partial: "case" ,locals:{@example[i]}%>
  <% end %>
<% end %>
